
      
          <div class="row" style="background-color: white;padding: 20px;">
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                  <img src="/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                  <h4 class="font-weight-normal mb-3">Doctors
                    <i class="mdi mdi-medical-bag menu-icon mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5"> Count : @ViewBag.doctor</h2>
                  <h6 class="card-text">@DateTime.Now</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                  <img src="/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
                  <h4 class="font-weight-normal mb-3">Questionnaire
                    <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">Count:@ViewBag.question</h2>
                  <h6 class="card-text">@DateTime.Now</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
              <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                  <img src="/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
                  <h4 class="font-weight-normal mb-3">Users
                    <i class="mdi mdi-contacts menu-icon mdi-24px float-right"></i>
                  </h4>
                  <h2 class="mb-5">Count:@ViewBag.user</h2>
                  <h6 class="card-text">@DateTime.Now</h6>
                </div>
              </div>
            </div>

            
     @model List<MV_Users>

             <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">List Users</h4>
                  <p class="card-description">
                   Sort By: <code>.Id </code>
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          Rows
                        </th>
                        <th>
                          User Name
                        </th>
                        <th>
                           Email
                        </th>
                        <th>
                         creation date
                        </th>
                        <th>
                         Proccess
                        </th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        @{
                          int i=1;

                       
                        
                        foreach (var item in @ViewBag.userme)
                        {
                             <tr>
                        <td class="py-1">
                          @i
                        </td>
                        <td>
                          @item.Name
                        </td>
                        <td>
                          @item.Email
                        </td>
                        <td>
                            @item.create_date
                        </td>
                       
                        <td>
                          <a href="">delete</a>
                          |
                          <a href="">update</a>
                           |
                          <a href="/home/showanswer?id=@item.joinid&&user=@item.Id">ShowAnswer</a>
                        </td>
                      </tr>
                       i++;
                        }

                       

                      }
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>




          </div>
        
       